

.textarea-0{
            border: 1px solid #ECECEC; width: 100%; height: 100%; font-size: 14px;
                    padding:14px; resize: none;
}

.DOMStringParser{

                width:100%;  height: 100%;    white-space: pre-line; border: 1px solid #ECECEC;
                padding: 10px; font-size: 12px;
    
}