



/**  Layout  **/

.paltform-layout-box{
    width: 100%; height: 100%; box-sizing: border-box;    


}


.landding-layout-box{
        width: 100%; height: 100%; box-sizing: border-box;  
        
        
    a{color:#ffff}

}//landding-layout-box