

.platform-about-section{

                    .title{
                           width: 100%; font-size: 32px; margin-bottom: 20px; padding-top: 20px; font-weight: bold;
                    }
                    .swiper-1{
                        width: 100%; height: 500px;
                    }

                    .swiper-2{
                        width: 100%; height: 500px;
                    }

}//platform-about-section