/* header */

.landing-header-box{
        background: #24292E; height: 100px; padding: 0 24px; top: 0; color: #fff; 
        z-index: 10;  height: 100px; line-height: 100px; text-align: center;
        box-sizing: border-box; position: relative;

}//landing-header-box

