
@import './utils';

.box-wrap {
    padding: 0; margin: 0; display: flex;
    .box {
        @include box(100px, auto);
         border: 1px solid black;
        &.red {
            height: 50px;
            background-color: $color-red;
        }
        &.orange {
            height: 100px;
            background-color: $color-orange;
        }
        &.yellow {
            height: 150px;
            background-color: $color-yellow;
        }
        &.green {
            height: 200px;
            background-color: $color-green;
        }
        &.blue {
            height: 250px;
            background-color: $color-blue;
        }
        &.navy {
            height: 300px;
            background-color: $color-navy;
        }
        &.purple {
            height: 350px;
            background-color: $color-purple;
        }
    }
}
