





.not-found-box{
                    width:100%; margin-right: 142px; 
                    text-align: center; min-height: 670px; padding-top: 185px;

                .text-section{
                            .title{
                                margin-bottom: 32px; font-size: 34px; font-weight: bold; 
                            }
                            .comment{
                                                    margin-bottom: 38px; font-size: 18px;
                            }
                }
                .button-section{

                                    button {width:229px; height: 64px; border:none;font-size: 20px; border-radius: 4px; cursor: pointer;}
                                    button:first-child {background-color: #eeeeee; margin-right: 10px;}
                                    button:last-child {background-color: #000; color:#fff}
                }
}